/* main img{
  margin-bottom: 16px;
} */

#btnCadastrar{
  display: none
}

.card{
  margin-bottom: 16px;
}

.loaderDiv{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loader {
  z-index: 5;
  position: absolute;
  border: 16px solid #343a40;
  border-radius: 50%;
  border-top: 16px solid yellow;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  display: none
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .msg{
    background-color: #343a40;
    margin: 0 !important
  }
  #corpo{
    margin-top: 10px
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 768px) {
  main {
    padding: 15px 0;
  }
  #corpo{
    margin-top: 10px
  }
  .btnresult {
    margin-bottom: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  main {
    padding: 15px 0;
  }
  #corpo{
    margin-top: 30px
  }
  .btnresult {
    margin-bottom: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  main {
    padding: 15px 0;
  }
  #corpo{
    margin-top: 50px
  }
  .btnresult {
    margin-bottom: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  main {
    padding: 15px 0;
  }
  #corpo{
    margin-top: 50px
  }
  .btnresult {
    margin-bottom: 16px;
  }
}
