.modal img {
  margin-bottom: 16px;
}

#btnCadastrar {
  display: none
}

.card {
  margin-bottom: 16px;
  cursor: pointer;
}

.titulo-interno-texto{
  display: inline-block;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
hr{
  margin: 0;
  margin-bottom: 16px;
}

ul {
  list-style: none
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .alert{
    margin-bottom: 0;
  }
  #map {
    height: 200px;
    margin-bottom: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .btnresult {
    margin-bottom: 16px;
  }
  #map {
    height: 300px;
    margin-bottom: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .btnresult {
    margin-bottom: 16px;
  }
  #map {
    height: 300px;
    margin-bottom: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .btnresult {
    margin-bottom: 16px;
  }
  #map {
    height: 300px;
    margin-bottom: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .btnresult {
    margin-bottom: 16px;
  }
  #map {
    height: 300px;
    margin-bottom: 16px;
  }
}
